<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiandi.mapper.AdminUserMapper">
    
    <!-- 增加方法 -->
    <insert id="insert" parameterType="AdminUser">
       ${@com.qiandi.table.AdminUserTable@insertSQL}
        (#{id},#{accountName},#{name},#{phoneNum},#{password},
       #{passwordSalt},#{department},#{position},#{qqNum},#{weiXinNum},
       #{email},#{managerId},#{createTime}
       );
    </insert>

	<!-- 修改方法 -->
    <update id="update" parameterType="AdminUser">
        update ${@com.qiandi.table.AdminUserTable@tableName} 
        set 
         ${@com.qiandi.table.AdminUserTable@accountName} = #{accountName},
       ${@com.qiandi.table.AdminUserTable@managerId} = #{managerId},
       ${@com.qiandi.table.AdminUserTable@phoneNum} = #{phoneNum},
       ${@com.qiandi.table.AdminUserTable@name} = #{name},
       ${@com.qiandi.table.AdminUserTable@password} = #{password},
       ${@com.qiandi.table.AdminUserTable@passwordSalt} = #{passwordSalt},
       ${@com.qiandi.table.AdminUserTable@email} = #{email},
       ${@com.qiandi.table.AdminUserTable@qqNum} = #{qqNum},
       ${@com.qiandi.table.AdminUserTable@weiXinNum} = #{weiXinNum},
       ${@com.qiandi.table.AdminUserTable@createTime} = #{createTime},
       ${@com.qiandi.table.AdminUserTable@department} = #{department},
       ${@com.qiandi.table.AdminUserTable@position} = #{position}
        where  ${@com.qiandi.table.AdminUserTable@id} =#{id} and 
        ${@com.qiandi.table.AdminUserTable@isDeleted} = false
    </update>
    
   <!--  删除方法 -->
    <update id="delete" parameterType="long">
       update ${@com.qiandi.table.AdminUserTable@tableName} set ${@com.qiandi.table.AdminUserTable@isDeleted}=true
        where ${@com.qiandi.table.AdminUserTable@id}=#{id}
    </update>

    <!-- 查询方法 -->
    <select id="select" parameterType="AdminUser" resultType="AdminUser">
        	${@com.qiandi.table.AdminUserTable@selectSQL} 
           <if test="id!=null">and ${@com.qiandi.table.AdminUserTable@id}  = #{id} </if>
           <if test="phoneNum!=null">and ${@com.qiandi.table.AdminUserTable@phoneNum}  = #{phoneNum}</if>
           <if test="managerId!=null">and ${@com.qiandi.table.AdminUserTable@managerId}  = #{managerId}</if>
    </select>
    
    <select id="selectManagerData" parameterType="Map" resultType="AdminUserManagerData">
    	${@com.qiandi.table.AdminUserTable@selectManagerSQL_admin} 
    	<if test="id!=null">${@com.qiandi.table.AdminUserTable@selectIdNotNullSQL_admin} #{id}</if>
    	<if test="accountName!=null">${@com.qiandi.table.AdminUserTable@selectAccountNameNotNullSQL_admin} #{accountName}</if>
    	<if test="name!=null">${@com.qiandi.table.AdminUserTable@selectNameNotNullSQL_admin} "%"#{name}"%" </if>
    	<if test="phoneNum!=null">${@com.qiandi.table.AdminUserTable@selectPhoneNumNotNullSQL_admin}  #{phoneNum}</if>
    	<if test="managerName!=null">${@com.qiandi.table.AdminUserTable@selectManagerNameNotNullSQL_admin}  "%"#{managerName}"%"</if>
    	<if test="beginTime!=null and endTime!= null">
            and ${@com.qiandi.table.AdminUserTable@selectBeginTimeNotNullSQL_admin}  #{beginTime} 
           	and ${@com.qiandi.table.AdminUserTable@selectEndTimeNotNullSQL_admin}  #{endTime} 
            </if>
    	${@com.qiandi.table.AdminUserTable@selectOrderBySQL_admin} 
    </select> 
    
     		 <!-- 批量删除 -->
    <update id="deleteByArray" >
	        ${@com.qiandi.table.AdminUserTable@deleteByArraySQL} 
	    	<foreach collection="array" index="index" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
    	</update>
    	
    		 <!-- 批量选择 -->
   	 <select id="selectByArray" resultType="AdminUserManagerData">
	        ${@com.qiandi.table.AdminUserTable@selectManagerSQL_admin} 
	        ${@com.qiandi.table.AdminUserTable@selectByArraySQL} 
	    	<foreach collection="array" index="index" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
			${@com.qiandi.table.AdminUserTable@selectOrderBySQL_admin} 
    	</select>
    
    
    
    
    
    
</mapper>